@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    @apply text-lightMode-text; /* Estilo para el modo claro */
    font-weight: 400;
  }

  /* Estilos para el modo oscuro */
  .dark p {
    @apply text-darkMode-text; /* Color de texto blanco en modo oscuro */
  }
}

/* Personalización de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
  background-color: #04a5e5; /* Color del thumb (parte que se mueve) */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4c4f69; /* Color del thumb cuando el mouse pasa sobre él */
}

::-webkit-scrollbar-track {
  background-color: #eff1f5; /* Color de la pista de la barra de desplazamiento */
  border-radius: 4px;
}

/* Estilos para la barra de desplazamiento en el modo oscuro */
.dark ::-webkit-scrollbar-thumb {
  background-color: #89dceb; /* Color del thumb en modo oscuro */
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #cdd6f4; /* Color del thumb cuando el mouse pasa sobre él */
}

.dark ::-webkit-scrollbar-track {
  background-color: #1e1e2e; /* Color de la pista en modo oscuro */
}

.noise {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1400 1400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  opacity: 0.8;
  mix-blend-mode: overlay;
  background-blend-mode: overlay, normal, normal, normal;
}

/* Background container */
.bg-gradient {
  position: relative;
  overflow: hidden;
}

/* Pseudo-element for background gradient - light mode */
.bg-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eff1f5;
  background-image: radial-gradient(
      circle at 35% 7%,
      hsla(220.00000000000009, 23%, 94%, 1) 15.899795444960931%,
      transparent 39.193126142484765%
    ),
    radial-gradient(
      circle at 0% 62%,
      hsla(220.00000000000009, 23%, 94%, 1) 10.700669445313919%,
      transparent 25.719783297431654%
    ),
    radial-gradient(
      circle at 0% 0%,
      hsla(197.0666666666667, 96%, 45%, 1) 8.523508117734968%,
      transparent 36.92146917793554%
    );
  background-blend-mode: normal, normal, normal, normal, normal;
  transition: opacity 0.2s ease;
  opacity: 1;
  z-index: -1;
}

/* Pseudo-element for background gradient - dark mode */
.bg-gradient::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1e1e2e;
  background-image: radial-gradient(
      circle at 35% 7%,
      hsla(231.8181818181818, 23%, 18%, 1) 15.899795444960931%,
      transparent 39.193126142484765%
    ),
    radial-gradient(
      circle at 0% 62%,
      hsla(231.00000000000003, 23%, 16%, 1) 10.700669445313919%,
      transparent 25.719783297431654%
    ),
    radial-gradient(
      circle at 0% 0%,
      hsla(188.78048780487802, 59%, 72%, 1) 8.523508117734968%,
      transparent 36.92146917793554%
    );
  background-blend-mode: normal, normal, normal, normal, normal;
  transition: opacity 0.2s ease;
  opacity: 0;
  z-index: -1;
}

.dark .bg-gradient::before {
  opacity: 0;
}

.dark .bg-gradient::after {
  opacity: 1;
}

/* Media query for small devices (sm) */
@media (max-width: 1024px) {
  .bg-gradient::before,
  .bg-gradient::after {
    background-image: none;
  }
}
